@import url(../fonts/ptSans.css);
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #bdc3c7;
}
/* --------------------- GENERAL ----------------- */
.box {
	padding: 10px;
	font-family: 'PT sans', sans-serif;
	width: 100%;
	height: 70vh;
	margin-bottom: 10px;
	border: 3px solid #2c3e50;
	display: block;
	background-color: #ecf0f1;
}
.box:focus {
	border-color: #3dd95e;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.box.code__field {
	border-color: #ecf0f1;
}
.box.result__window {
	padding: 0;
}
.clear {
	clear: both;
}
.code {
	width: calc(50% - 5px); 
	margin-right: 5px;
	float: left;
}
.container {
	margin: 0 auto;
	width: 80%;
	display: block;
}
.heart {
	color: rgb(255, 90, 90);
	font-size: 1.2em;
}
.lead {
	font-family: 'PT sans', sans-serif;
	font-size: 1.1em;
}
.link {
	font-weight: 500;
	text-decoration: none;
}
.link:hover {
	text-decoration: underline;
}
.link, .list__item, .title, .title__info {
	color: #fff;
}
.list__item {
	font-family: 'PT sans', sans-serif;
	font-size: 1.1em;
}
.post {
	padding: .2em 0 1.2em 0;
}
.text-center {
	text-align: center;
	font-family: 'PT sans', sans-serif;
}
::selection {
	background-color: rgba(142, 68, 173,1.0);
	color: #fff;
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
		background-color: rgba(127, 140, 141,1.0); 
}
::-webkit-scrollbar-thumb {
    background: rgba(44, 62, 80, .8); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(52, 73, 94, .5); 
}
/* ---------------------- HEADER ------------------ */
.header {
	background-color: #2c3e50;
	padding: 1.5em 0;
  transition: all 750ms ease-in-out;
}

.change--color {
  position: absolute;
  top: 0.75em;
  right: 10px;
}
/* --------------------- CLOSE HEADER ------------- */
/* ---------------------- NAV ---------------------*/
.nav {
	width: 100%;
	background-color: #34495e;
  transition: all 750ms ease-in-out;
}
.nav__list {
	width: 100%;
	list-style: none;
	display: flex;
}
.nav__list--item {
	float: left;
	padding: 1em 0;
	text-align: center;
	color: #fff;
	font-family: 'PT sans', sans-serif;
	transition: all .3s ease-in;
	width: 100%;
}
.nav__list--item:hover {
	background-color: #2c3d90;
}
/* ---------------------- CLOSE NAV ---------------*/
/* ---------------------- MAIN --------------------*/
.main {
  display: flex;
  padding-top: 20px;
  transition: all 750ms ease-in-out; 
}
/* ---------------------- CLOSE MAIN --------------*/
/* ---------------------- INFO --------------------*/
.info {
	background-color: #2c3e50;
}
.lead__info {
	font-size: 16px;
	font-family: 'PT sans', sans-serif;
	color: #fff;
	text-align: justify;
	text-indent: 20px;
}
.title__info {
	font-weight: 500;
	margin: 15px 0;
}
/* -------------------- CLOSE INFO ------------- */
/* -------------------- CURIOSITY -------------- */
.curiosity {
	background-color: #34495e;
}
.img__curiosity {
	box-shadow: 2px 2px 24px #2c3e50;
	border-radius: 4px;
	display: block;
	margin: 10px auto;
	max-width: 100%;
	width: 300px;
}
/* ----------------- CLOSE CURIOSITY ----------- */ 
/* ----------------- INPUT'S AND CIA ----------- */
.btn {
	font-family: 'PT sans', sans-serif;
	margin: 10px 10px 20px 0;
	outline: none;
	padding: 10px 15px;
	font-size: 1.1em;
	transition: all .3s ease-in;
	border: none;
}
.btn--default {
	background-color: #2c3e50;
	color: #fff;
	
}
.btn--default:hover {
	cursor: pointer;
	box-shadow: -3px 3px 18px #2c3e50;
	background-color: #34495e;
}
.btn--right {
	background-color: #2c3d90;
	color: #fff;
}
.btn--right:hover {
	cursor: pointer;
	box-shadow: -3px 3px 18px #fff;
	background-color: #2c3d66;
}
.code__field {
	background-color: #34495e;
	color: #fff;
	font-size: 1.5em;
	font-family: 'PT sans', sans-serif;
	outline: none;
	resize: none;
  transition: all 750ms ease-in-out;
}
/* ----------- CLOSE INPUT'S AND CIA ----------- */
/* ------------------ FOOTER ------------------- */
.footer {
	background-color: #263238;
	color: #fff;
	margin-bottom: -21px;
	padding: 1em 0;
	text-align: center;
	width: 100%;
}
/* ----------------- CLOSE FOOTER ---------------*/
/* -------------------- RESPONSIVE --------------*/
@media (max-width: 900px) {
	.btn, .code {
		width: 100%;
	}
  .change--color {
    display: none;
  }
}
/* -------------------- CLOSE RESPONSIVE ---------*/
